@import '_themes.scss';

%button-base {
  font-family: inherit;
  font-size: $fs-14;
  font-weight: $fw-semi-bold;
  text-align: center;
  border-radius: 4px;
  padding-top: $fs-10;
  padding-bottom: $fs-10;
  outline: none;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.3;
  
  &:hover {
    cursor: pointer;
  }
  
  &:disabled {
    opacity: 0.36;
    cursor: default;
    pointer-events: none;
  }
}

.btn {
  font-family: inherit;
  font-size: $fs-14;
  font-weight: $fw-semi-bold;
  text-align: center;
  border-radius: 4px;
  padding-top: $fs-10;
  padding-bottom: $fs-10;
  outline: none;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.3;
  
  &:hover {
    cursor: pointer;
  }
  
  &:disabled {
    opacity: 0.36;
    cursor: default;
    pointer-events: none;
  }
}

.btn-small {
  @extend %button-base;
  min-width: $fs-126;
}

.btn-normal {
  @extend %button-base;
  padding-left: $fs-32;
  padding-right: $fs-32;
}

.btn-large {
  @extend %button-base;
  width: 100%;
}

// Button sizes
.btn-sm {
  @extend %button-base;
  padding: 6px 24px;
}

.btn-md {
  @extend %button-base;
  padding: 10px 40px;
}

.btn-lg {
  @extend %button-base;
  padding: 14px 56px;
}

.btn-start-icon {
  position: relative;
  top: 2px;
  right: 5px;
}

.btn-end-icon {
  position: relative;
  top: 2px;
  left: 5px;
}

.btn-shadow {
  border: none;
  box-shadow: 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.btn-primary {
  color: $white;
  @include themify($themes) {
    background-color: themed('primaryColor');
    border: 1px solid themed('primaryColor');
    &:hover {
      background-color: themed('primaryHover');
    }
    &:active {
      background-color: themed('primaryActive');
    }
  }
}

.btn-secondary {
  background-color: $white;
  @include themify($themes) {
    color: themed('primaryColor');
    border: 1px solid themed('primaryColor');
    &:hover {
      color: themed('primaryColor');
      background-color: themed('secondaryHover');
    }
    &:active {
      background-color: themed('secondaryActive');
    }
  }
}

.btn-tertiary {
  @include themify($themes) {
    color: themed('primaryColor');
    background-color: themed('tertiaryBg');
    &:hover {
      background-color: themed('tertiaryHover');
    }
    &:active {
      background-color: themed('tertiaryActive');
    }
  }
}

.link-button-primary {
  @extend %button-base;
  display: inline-flex;
  align-items: center;
  @include themify($themes) {
    color: themed('primaryColor');
    &:hover {
      border-radius: 4px;
      color: themed('primaryActive');
    }
  }
  &.grey {
    color: $grey_dark;
  }

  &.inactive {
    color: $grey_dark;
    cursor: not-allowed;
  }

  &.white {
    color: $white;
  }

  &:active {
    border-radius: 4px;
  }

  &:disabled {
    opacity: 0.36;
  }
}


.btn-link-primary {
  @extend %button-base;
  @include themify($themes) {
    color: themed('primaryColor');
  }
}

.link-button-secondary {
  @extend %button-base;
  display: inline-flex;
  align-items: center;
  color: $text_body;
  &:hover {
    color: $text_heading;
  }
}


.chips {
  font-size: $fs-12;
  font-family: inherit;
  font-weight: $fw-medium;
  padding: $fs-8 $fs-20;
  border-radius: $fs-16;
  color: $text_body;
  background-color: $grey_light;
  text-align: center;
  outline: none;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  @include themify($themes) {
    &:hover {
      background-color: $grey_normal;
    }
    &:active {
      color: $white;
      background-color: themed('primaryColor');
    }
    &.primary {
      color: $white;
      background-color: themed('primaryColor');
    }
  }
  &:disabled {
    background-color: $grey_light;
  }
}
